.ul-box {
  display: flex;
  flex-direction: row;
  height: 175px;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.header-box img {
  width: 175px;
  height: auto;
  vertical-align: bottom;
}

label {
  margin-right: 50px;
}

.header-box li a {
  font-family: 'VT323', monospace;
  font-size: 40px;
  color: #272727;
  text-decoration: underline solid transparent;
  transition: text-decoration .5s ease;
  vertical-align: bottom;
}

.header-box li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header-box li a:active {
  color: #808080;
}

a:link {
  text-decoration: none;
}



/* MEDIA QUERIES */

@media only screen and (max-width: 1000px) {

};