html {
  background-color: #f9f9f9;
  font-family: 'Space Mono', monospace;
  /* font-family: 'VT323', monospace; */
}

body {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.spacer {
  height: 1000px;
}