html {
  background-color: #f9f9f9;
  font-family: 'Space Mono', monospace;
  color: #272727;
}

body {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.viewer {
  height: 500px;
  width: auto;
  margin: 15px 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.progress-bar {
  /* display: none; */
  /* visibility: hidden; */
  color: #272727;
}

#lazy-load-poster {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("resources/Backpack.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#button-load {
  background-image: url("resources/download-outline.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 6% 50%;
  background-color: #f9f9f9;
  color: #272727;
  cursor: pointer;
  border-radius: 6px;
  display: inline-block;
  padding: 10px 18px 9px 40px;
  font-weight: 500;
  box-shadow: 0 0 8px rgba(0, 0, 0, .2), 0 0 4px rgba(0, 0, 0, .25);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 100;
}

.scan-description {
  font-size: 16px;
  text-align: center;
  margin-bottom: 50px;
}

.description-a {
  color: #272727;
  vertical-align: bottom;
  transition: opacity 0.25s;
}

.description-a:hover {
  cursor: pointer;
  opacity: 0.75;
}

.description-a:active {
  color: #272727;
}

.description-a:visited {
  color: #272727;
}

/* Dark Mode */

.drkmode {
  filter: invert(1);
}

.dark {
  filter: invert(1);
}

.transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.switch {
  width: 60px;
  height: 30px;
  rotate: 90deg;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #272727;
  -webkit-transition: .5s;
  transition: .5s;
  box-shadow: 0 0 10px #272727;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 5px;
  bottom: 5px;
  background-color: #f9f9f9;
  -webkit-transition: .5s;
  transition: .5s;
}

input:checked+.slider {
  background-color: #272727;
}

input:checked+.slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1000px) {
  .switch {
    width: 40px;
    height: 20px;
  }

  .slider:before {
    height: 13.3px;
    width: 13.3px;
    left: 3.3px;
    bottom: 3.3px;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  .slider.round {
    border-radius: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .switch {
    rotate: 0deg;
  }

  .slider {
    background-color: #f9f9f9;
    box-shadow: 0 0 10px #f9f9f9;
  }

  .slider:before {
    background-color: #272727;
  }

  input:checked+.slider {
    background-color: #f9f9f9;
  }

  body {
    margin-top: 150px;
  }

  .scan-description {
    font-size: 14px;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 450px) {
  .viewer {
    height: 300px;
    width: auto;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
}